body {
	background: url(http://pimpilla.files.wordpress.com/2013/06/bjhsdgj.jpg);
	background-repeat:repeat-y;
	background-position:center center;
	background-attachment:scroll;
	background-size:100% 100%;
}

.ui-page {
	background: transparent;
}

.ui-content{
	background: transparent;
}

h1.whiteText{
	color: white;
	text-shadow: -1px -1px 0 #000,
		1px -1px 0 #000,
    		-1px 1px 0 #000,
     		1px 1px 0 #000;
}

.fontProfilePage{
	font-size:25px;
	color: white;
	text-shadow: -1px -1px 0 #000,
		1px -1px 0 #000,
    		-1px 1px 0 #000,
     		1px 1px 0 #000;
}
